@import '@Src/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputRow {
  display: flex;
  position: relative;
  width: 100%;

  .invalid {
    .input {
      border: 1px solid var(--color-red-main);
      outline: none;
    }
  }
}

.label {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--color-grey-dark);
  margin-bottom: 0.25rem;
}

.input {
  background-color: #fafafa;
  border: solid 1px var(--color-grey);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem 0.375rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
  transition: all var(--transition-time);

  &::placeholder {
    color: #c4c4c4;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &:focus {
    border: 1px solid var(--color-green);
    outline: none;
    box-shadow: 0 0 4px rgba(84, 228, 158, 0.25);
  }

  &:invalid {
    border: 1px solid var(--color-red-main);
    outline: none;
  }

  &:disabled {
    border: none;
    &::placeholder {
      color: #fafafa;
    }
  }
  &:disabled ~ .clear {
    display: none;
  }
}

.invalid {
  .input {
    border: 1px solid var(--color-red-main);
    outline: none;
  }
}
.errorText {
  color: var(--color-red-main);
  margin-top: 0.25rem;
  font-size: 0.75rem;
  min-height: 1.25rem;
}
.hidden {
  // display: none;
  visibility: hidden;
}

@mixin input-icons {
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  position: absolute;
}
.clear {
  @include input-icons;
  background: url('/src/assets/icons/cross.svg') no-repeat center;
  right: 0;
}
.show-password {
  @include input-icons;
  background: url('/src/assets/icons/show.svg') no-repeat center;
  right: 0.41rem;
}
.hide-password {
  @include input-icons;
  background: url('/src/assets/icons/hide.svg') no-repeat center;
  right: 0.41rem;
}
