.container {
  margin: 0 auto;
  max-width: calc(100dvw - 1rem);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid red; //debuging rule
}

@media screen and (min-width: 1024px) {
  .container {
    width: calc(100dvw - 2rem);
    max-width: 1440px;
  }
}
