.catalogue {
}

.content-section {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 2.25rem;
}

.filters {
  background-color: rgb(214, 209, 209);
}

.categories {
}

.header {
  color: var(--color-orange-main);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 112%;
  text-align: center;
}

.products {
}
