.catalogue {
  margin-bottom: 2rem;
}

.content-section {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 2.25rem;
  grid-template-columns: 340px minmax(300px, 1fr);
  @media screen and (max-width: 1448px) {
    grid-template-columns: 340px minmax(300px, 720px);
  }
  @media screen and (max-width: 1089px) {
    grid-template-columns: 720px;
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: 340px;
  }
}

.filters {
  background-color: rgb(214, 209, 209);
  min-height: 4rem;
}

.categories {
}

.header {
  color: var(--color-orange-main);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 112%;
  text-align: center;
}

.products {
}

.top-fields-block {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 56px auto;
  @media screen and (max-width: 1448px) {
    width: 1060px;
  }
  @media screen and (max-width: 1089px) {
    width: 720px;
  }
  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
    justify-content: right;
    width: 340px;
  }
}

.filter-field {
  height: 44px;
}

.show-more-btn {
  background-color: var(--color-orange-light);
  width: 212px;
  grid-column: 2;
  margin: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.81rem;
}
