# variables available from code as process.env.TEST_SECRET

CTP_PROJECT_KEY=our-project-key
CTP_CLIENT_SECRET=client-secret
CTP_CLIENT_ID=client-string-id
CTP_AUTH_URL=https://auth.our-region.gcp.commercetools.com
CTP_API_URL=https://api.our-region.gcp.commercetools.com
CTP_SCOPES="manage_customers:our-project-key manage_my_business_units:our-project-key view_sessions:our-project-key create_anonymous_token:our-project-key manage_my_shopping_lists:our-project-key view_categories:our-project-key view_shopping_lists:our-project-key view_published_products:our-project-key view_order_edits:our-project-key manage_orders:our-project-key view_orders:our-project-key manage_my_payments:our-project-key view_quotes:our-project-key view_payments:our-project-key manage_my_orders:our-project-key manage_my_quote_requests:our-project-key manage_my_profile:our-project-key manage_my_quotes:our-project-key view_products:our-project-key manage_order_edits:our-project-key view_discount_codes:our-project-key manage_payments:our-project-key view_product_selections:our-project-key view_shipping_methods:our-project-key"
