@import '@Src/styles/variables.scss';

.main {
}

.list-item {
  padding: 5px;
}

.is-logged-in {
  margin: 1rem 2rem;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;

  font-size: 1.1rem;

  .list-item {
    color: var(--color-black);
  }

  .list-item_secret {
    color: red;
  }
}

.about-info {
  border-radius: 24px;
  padding: 32px 145px 64px 145px;
  background: var(--color-white);
  margin: 1.5rem;
}

.cards-title,
.about-title {
  color: var(--color-orange-main);
  font-size: 3rem;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  margin: 1.5rem 0 3.5rem;
}

.about-title {
  margin: 2rem 0 3.5rem;
}

.cards-container {
  margin-bottom: 4rem;
}

.about-content-wrapper {
  display: flex;
  gap: 3.78rem;
}

.team-message {
  text-align: right;
  font-style: italic;
  margin-top: 3.75rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
