@import '@Src/styles/variables.scss';

.main {
}

.list-item {
  padding: 5px;
}

.is-logged-in {
  margin: 1rem 2rem;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;

  font-size: 1.1rem;

  .list-item {
    color: var(--color-black);
  }

  .list-item_secret {
    color: red;
  }
}

.about-info {
  border-radius: 24px;
  padding: 32px 145px 64px;
  background: var(--color-white);
  margin: 1.5rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.first-sentence {
  margin-top: 16px;
}

@media (max-width: 1616px) {
  .about-info {
    padding: 32px 100px 64px;
  }
  .first-sentence {
    margin-top: 0;
  }
}
@media (max-width: 1400px) {
  .about-info {
    padding: 32px 50px 64px;
  }
}

.cards-title,
.about-title {
  color: var(--color-orange-main);
  font-size: 3rem;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  margin: 1.5rem 0 3.5rem;
}

.about-title {
  margin: 2rem 0 3.5rem;
}
@media (max-width: 760px) {
  .cards-title,
  .about-title {
    font-size: 38px;
  }
}

@media (max-width: 560px) {
  .about-info {
    padding: 32px 17.5px 48px;
    margin: 24px 16px;
  }

  .cards-title {
    font-size: 32px;
    line-height: 169%;
  }
  .about-title {
    margin: 0;
    font-size: 28px;
    line-height: 193%;
  }
  .cards-title,
  .about-title {
    margin-bottom: 32px;
  }
}

.cards-container {
  margin-bottom: 4rem;
}

.about-content-wrapper {
  display: flex;
  gap: 3.78rem;
}

.text-wrapper {
  width: 54%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1180px) {
  .about-content-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .text-wrapper {
    width: 100%;
  }
}

.team-message {
  text-align: right;
  font-style: italic;
  margin: 0;
  margin-top: 3.75rem;
}
@media (max-width: 560px) {
  .team-message {
    width: 70%;
    align-self: flex-end;
  }
}

.image-wrapper {
  border-radius: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
