@import '@Src/styles/variables.scss';

.main {
}

.list-item {
  padding: 5px;
}

.is-logged-in {
  margin: 1rem 2rem;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;

  font-size: 1.1rem;

  .list-item {
    color: var(--color-black);
  }

  .list-item_secret {
    color: red;
  }
}

.cards-title {
  color: var(--color-orange-main);
  font-size: 3rem;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  margin: 1.5rem 0 3.5rem;
}

.cards-container {
  margin-bottom: 5.5rem;
}
