.category-container {
}

.category-list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.category-item {
  padding: 0;
}
