@import '@Src/styles/variables.scss';

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.controlsInside {
  .wrapper {
    padding-bottom: 0.25rem;
  }
  .indicator {
    background-color: var(--color-black);
  }
  .controls-panel {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    padding: 0 1rem;
  }
  .arrow {
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      height: 1.5rem;
      width: auto;
      path {
        fill: var(--color-black);
        transition: all var(--transition-time);
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          path {
            fill: var(--color-orange-light);
          }
        }
      }
    }
  }
}

.arrow-disabled {
  pointer-events: none;
  cursor: auto;
  svg {
    opacity: 0;
  }
}

.controlsOutside {
  .wrapper {
    padding-bottom: 2.5rem;
  }
  .controls-panel {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    padding: 0 1rem;
  }

  .indicator {
    background-color: var(--color-grey-light);
  }
  .arrow {
    width: 2.75rem;
    height: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      height: 1.5rem;
      width: auto;
      path {
        fill: var(--color-grey-dark);
        transition: fill var(--transition-time);
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          path {
            fill: var(--color-orange-light);
          }
        }
      }
    }
  }
}
.slider-in-modal{
  .wrapper {
    padding-bottom: 2.5rem;
  }
  .controls-panel {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    padding: 0 1rem;
  }
  .indicator {
    background-color: var(--color-black);
  }
  .arrow {
    width: 2.75rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      height: 1.5rem;
      width: auto;
      path {
        fill: var(--color-black);
        transition: all var(--transition-time);
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          path {
            fill: var(--color-orange-light);
          }
        }
      }
    }
  }
}
.wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  max-height: 525px;
  position: relative;

  .image-li {
    display: none;
    width: 100%;
    height: auto;
    cursor: pointer;

    &.active,
    &.next {
      display: block;
    }
    .image {
      display: block;
      height: auto;
      width: calc(100% - 4px);
      object-fit: cover;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
    }
  }
}

.controls-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicators {
  display: flex;
  gap: 0.75rem;
  .indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    transition: background-color var(--transition-time);
    &.indicator-current {
      background-color: var(--color-orange-light);
    }
  }
}
