.form-page {
  padding: 1rem;
  min-height: calc(100dvh - 2rem);
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.375rem solid var(--color-black);
  padding: 1rem 3rem 2rem;
  width: 22.5rem;
}

@media (max-width: 480px) {
  .modal-container {
    width: calc(100% - 6rem);
  }
}

.error-component {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-red-main);
  line-height: 112%;
}

.error-icon {
  width: 1.458rem;
  height: 1.458rem;
  margin: 0.313rem;
}

.logo-link {
  margin: auto;
  display: block;

  .logo-img {
    max-width: 100%;
    height: auto;
  }
}

.signup-prompt-wrapper {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--color-grey-dark);

  .signup-link {
    text-decoration: underline;
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
  }
}
