@import '@Src/styles/variables.scss';

.accordion {
  display: block;
}
.container {
  display: block;
  overflow: hidden;
  transition: all var(--transition-time);
}
.header {
  display: block;
  cursor: pointer;
}
.title {
  display: block;
}
.arrow {
  display: block;
}
.open .container {
  display: block;
}
.close .container {
  display: block;
}
