.bread-crumbs {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 3.25rem 0px 0.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  @media screen and (max-width: 1440px) {
    padding: 3.25rem 0.5rem 0.5rem;
  }
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-grey-dark);
  &::after {
    content: '/';
    padding-left: 0.25rem;
  }
}

.current {
  color: var(--color-orange-light);
  text-transform: capitalize;
}
