@import '@Src/styles/variables.scss';

.content-page {
  background: var(--color-grey-extra-light);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100svh;
  main{
    padding: 0 2rem;
  }
}

.header {
  padding: 2rem;
}

.content {
  width: 100%;
  flex-grow: 1;
  justify-content: start;
}

.footer {
  padding: 2rem;
}
