@import '@Src/styles/variables.scss';
.registration {
}

.form {
}

.formTitle {
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
  color: var(--color-grey-dark);
  &::before {
    content: 'Registration: ';
    color: var(--color-black);
  }
}

.button-next {
}

.accordion {
  input,
  select {
    margin-bottom: 1rem;

    @media (max-height: 800px) {
      margin-bottom: 0.5rem;
    }
  }
  .checkbox-accordion {
    margin-bottom: 0;
  }
}

.password-info {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--color-grey-dark);
}
