.not-found {
  background: url('/src/assets/img/404.svg') var(--color-white) no-repeat center;
  background-size: contain;
  border-radius: 24px;
  margin:2rem 0;
  padding: 4rem 0;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }
}
.h1 {
  font-size: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  .span {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    margin: 2rem 0;
  }
}
.text {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 160%;
  text-align: center;
}
