@import '@Src/styles/variables.scss';

.address-wrapper {
  max-width: 360px;
}

.checkbox {
  margin-bottom: 3rem;
}

.edit-delete-btn-wrapper {
  display: flex;
  gap: 2rem;
}

.btn-line-height {
  line-height: 100%;
}

.hidden {
  display: none;
}

.select-country {
  margin-bottom: 1.25rem;
}
